.navbar {
    margin-bottom: 1em;
}

footer {
    /*width: 100%;
    bottom: 0;
    position: fixed;*/

    margin-top: 10em;
    margin-bottom: 1em;

    color: gray;
    font-size: 10px;
}

footer p {
    margin-bottom: 0rem;
}

.card-body {
    padding: .25rem !important;
}
